<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.warn.mid.mapper.ComssnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.admin.mid.entity.Comssn">
        <id column="cmnid" property="cmnid" />
        <result column="cmnnm" property="cmnnm" />
        <result column="cmnnm2" property="cmnnm2" />
        <result column="crdt" property="crdt" />
        <result column="modt" property="modt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cmnid, cmnnm, cmnnm2, crdt, modt
    </sql>

</mapper>
