<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.admin.mid.mapper.EmEmdeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.admin.mid.entity.emergency.EmEmdept">
        <id column="dpid" property="dpid" />
        <result column="bdnm" property="bdnm" />
        <result column="bdpntid" property="bdpntid" />
        <result column="bdpntids" property="bdpntids" />
        <result column="bdtype" property="bdtype" />
        <result column="cruid" property="cruid" />
        <result column="crdt" property="crdt" />
        <result column="mouid" property="mouid" />
        <result column="modt" property="modt" />
    </resultMap>
    
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dpid, bdnm, bdpntid, bdpntids, bdtype, cruid, crdt, mouid, modt
    </sql>
    
     <!-- 选择部门 -->
    <select id="choose" resultType = "com.digitalchina.admin.mid.dto.EmEmdeptDto">
    SELECT
	*,
	CASE
		
		WHEN emd.exaname IS NULL THEN
		concat_ws ( '/', emd.bdnm, emd.exaname ) ELSE emd.exaname 
		END AS exname 
	FROM
		(
		SELECT
			et.*,
			(
			SELECT
				string_agg ( T.bdnm, '/' ) 
			FROM
				(
				SELECT
					ey.bdnm,
					ey.dpid 
				FROM
					emergency.em_emdept ey 
				WHERE
					ey.dpid = ANY ( et.bdpntids ) 
				ORDER BY
					array_positions ( et.bdpntids, ey.dpid ) 
				) T 
			) || '/' || et.bdnm AS exaname 
		FROM
			emergency.em_emdept et 
		) AS emd 
	ORDER BY
		bdpntid,
	  	dpid
    </select>

</mapper>
