<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.admin.mid.mapper.EmPtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.admin.mid.entity.emergency.EmPtype">
        <id column="ptypefk" property="ptypefk" />
        <result column="ptypenm" property="ptypenm" />
        <result column="sort" property="sort" />
        <result column="cruid" property="cruid" />
        <result column="crdt" property="crdt" />
        <result column="mouid" property="mouid" />
        <result column="modt" property="modt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ptypefk, ptypenm, sort, cruid, crdt, mouid, modt
    </sql>

</mapper>
