<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.warn.mid.mapper.LayerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.admin.mid.entity.Layer">
        <id column="lyid" property="lyid" />
        <result column="cmnid" property="cmnid" />
        <result column="lynm" property="lynm" />
        <result column="asslys" property="asslys" typeHandler="com.digitalchina.admin.utils.PgArr2IntArrHandler" />
        <result column="srctp" property="srctp" />
        <result column="stat" property="stat" />
        <result column="crdt" property="crdt" />
        <result column="modt" property="modt" />
        <result column="remark" property="remark" />
        <result column="source" property="source" />
        <result column="prop" property="prop" />
        <result column="dpid" property="dpid" />
        <result column="dpids" property="dpids" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ly.lyid, ly.cmnid, ly.lynm, ly.asslys, ly.srctp, ly.stat, ly.crdt, ly.modt, ly.remark, ly.source,
        ly.prop,ly.dpid, ly.dpids
        
    </sql>


</mapper>
