<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.warn.mid.mapper.MesuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.admin.mid.entity.Mesu">
        <id column="msid" property="msid" />
        <result column="lyid" property="lyid" />
        <result column="mscode" property="mscode" />
        <result column="msnm" property="msnm" />
        <result column="msunit" property="msunit" />
        <result column="stat" property="stat" />
        <result column="crdt" property="crdt" />
        <result column="modt" property="modt" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        msid, lyid, mscode, msnm, msunit, stat, crdt, modt, type
    </sql>

</mapper>
