<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.modules.mapper.SysAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.modules.entity.SysApp">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="checkExist" resultType="java.lang.Integer">
    	select count(1) from public.sys_app where code=#{code}
        <if test="appId != null">
            and id &lt;&gt; #{appId}
        </if>
    </select>
    
    <select id="findAppCodeByUserId" resultType="java.lang.String">
    	select t1.code from sys_app t1 where id in
    	(select t2.aid from sys_role_app t2 join sys_role_user t3 on t2.rid = t3.rid where t3.uid = #{userId})
    </select>
    
</mapper>
