<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.modules.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.digitalchina.modules.entity.SysRole">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="dftype" property="dftype"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type,dftype,code,name, remark
    </sql>

    <select id="findRolesByUserId" resultMap="BaseResultMap">
    	select b.* from sys_role b join sys_role_user t on b.id = t.rid where t.uid = #{userId};
    </select>

    <update id="defaultRole">
        update sys_role set dftype = #{dftype} where id = #{roleId};
    </update>

    <select id="checkExist" resultType="java.lang.Integer">
        select count(1) from sys_role where code=#{code}
        <if test="roleId != null">
            and id &lt;&gt; #{roleId}
        </if>
    </select>
</mapper>
