<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.zhjg.szss.gis.mapper.DrainageFlowMapper">


    <!-- 排水流量表_通用查询映射结果 -->
    <resultMap id="DrainageFlowResultMap" type="com.digitalchina.zhjg.szss.gis.entity.DrainageFlow">
        <result column="OBJECTID" property="objectId"/>
        <result column="ZDBH" property="zdbh"/>
        <result column="ZDMC" property="zdmc"/>
        <result column="SSLL" property="ssll"/>
        <result column="ZLL" property="zll"/>
        <result column="LS" property="ls"/>
        <result column="SW" property="sw"/>
        <result column="GWLL" property="gwll"/>
        <result column="VOLTAGE" property="voltage"/>
        <result column="TM" property="tm"/>
    </resultMap>

    <insert id="insertDrainageFlow" parameterType="com.digitalchina.zhjg.szss.gis.entity.DrainageFlow"  useGeneratedKeys="true" keyProperty="OBJECTID" >
        INSERT INTO
            SDE.SZSS_PSLL (ZDBH,ZDMC,SSLL,ZLL,LS,SW,GWLL,VOLTAGE,TM)
        VALUES (
            #{zdbh},#{zdmc},#{ssll},#{zll},#{ls}, #{sw}, #{gwll},#{voltage}, to_date(#{tm} , 'yyyy-mm-dd hh24:mi:ss'))
    </insert>

    <select id="selectDrainageFlow" parameterType="java.lang.String" resultMap="DrainageFlowResultMap">
<!--        SELECT-->
<!--            OBJECTID,ZDBH,ZDMC,SSLL,ZLL,LS,SW,GWLL,VOLTAGE,to_char(TM,'yyyy-mm-dd hh24:mi:ss') TM-->
<!--        FROM-->
<!--            SDE.SZSS_PSLL-->
<!--        WHERE-->
<!--            1=1-->
<!--        <if test="zdbh != null  and zdbh != '' ">-->
<!--            AND ZDBH = #{zdbh}-->
<!--        </if>-->
<!--        <if test="zdmc != null  and zdmc != '' ">-->
<!--            AND  ZDMC like '%' ||  #{zdmc} || '%'-->
<!--        </if>-->
<!--        <if test="startTime != null  and startTime != '' ">-->
<!--            AND TO_CHAR(TM,'yyyy-MM-dd') &gt;= #{startTime}-->
<!--        </if>-->
<!--        <if test="endTime != null  and endTime != '' ">-->
<!--            AND TO_CHAR(TM,'yyyy-MM-dd') &lt;= #{endTime}-->
<!--        </if>-->

<!--        ORDER BY TM DESC-->

        SELECT
            psd.OBJECTID,psd.ZDBH,psd.ZDMC,NVL(a.Q,0) SSLL,
            NVL(a.ACC_W,0) ZLL,NVL(a.V,0) LS,a.VOLTAGE,
            to_char(a.TM,'yyyy-mm-dd hh24:mi:ss') TM
        FROM
            WR_MP_Q_R a,szss_psd psd
        WHERE
            a.stcd=psd.zdbh
        <if test="zdbh != null  and zdbh != '' ">
            AND psd.ZDBH = #{zdbh}
        </if>
        <if test="zdmc != null  and zdmc != '' ">
            AND  psd.ZDMC like '%' ||  #{zdmc} || '%'
        </if>
        <if test="startTime != null  and startTime != '' ">
            AND TO_CHAR(a.TM,'yyyy-MM-dd') &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != '' ">
            AND TO_CHAR(a.TM,'yyyy-MM-dd') &lt;= #{endTime}
        </if>
        ORDER BY a.TM DESC


    </select>

</mapper>